<form 
    name        = "f"
    method      = "GET"
>
Search for:
<input 
    type="text" 
    name="KEYWORD" 
    value="<!-- TMPL_VAR NAME="KEYWORD" -->"
>
<input type="submit" value="Go">
<input <!-- TMPL_IF NAME="AND" --> checked <!-- /TMPL_IF -->
type="radio" name="LOGIC" value="and"> All words
<input <!-- TMPL_IF NAME="OR" --> checked <!-- /TMPL_IF -->
type="radio" name="LOGIC" value="or"> Any words
</form>
<p>
<!-- TMPL_IF NAME="FIRST" --> <b><!-- TMPL_VAR NAME="STATS" --></b> <br><br> <!-- /TMPL_IF -->
<!-- TMPL_IF NAME="RESULTS" --> Results <!-- TMPL_VAR NAME="FROM" -->-<!-- TMPL_VAR NAME="TO" --> <!-- /TMPL_IF -->
</p>

<ol start="<!-- TMPL_VAR NAME="FROM" -->">
<!-- TMPL_LOOP NAME="RESULTS" -->
<li><a 
    href="<!-- TMPL_VAR NAME="URL" -->"
><!-- TMPL_VAR NAME="TITLE" --></a>
<p><!-- TMPL_VAR NAME="TEXT" --></p>
<a 
    href="<!-- TMPL_VAR NAME="URL" -->"
><!-- TMPL_VAR NAME="URL" --></a>
<p <!-- TMPL_VAR NAME="DATE_STRING" --></p>
</li>
<!-- /TMPL_LOOP>
</ol>
<!-- TMPL_LOOP NAME="CONTINUE" -->
<!-- TMPL_IF NAME="__FIRST__" -->
<!-- TMPL_IF NAME="PREV_URL" -->
<a href="<!-- TMPL_VAR NAME="PREV_URL" -->">Previous</a>
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="URL" -->
<a 
    href="<!-- TMPL_VAR NAME="URL" -->"
><!-- /TMPL_IF --><!-- TMPL_VAR NAME="PAGE" --><!-- TMPL_IF NAME="URL" --></a><!-- /TMPL_IF -->
<!-- TMPL_UNLESS NAME="__LAST__" -->&nbsp;|&nbsp;<!-- /TMPL_UNLESS -->
<!-- TMPL_IF NAME="__LAST__" -->
<!-- TMPL_IF NAME="NEXT_URL" -->
<a href="<!-- TMPL_VAR NAME="NEXT_URL" -->">Next</a>
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
